basic-ai-agent.json
{
  "name": "Basic AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "basic-ai-agent",
        "responseMode": "responseNode",
        "options": {
          "rawBody": "={\n  \"chatInput\": \"Hello, AI!\"\n}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "id": "4fd14ad8-62de-4737-97a9-d5f3d69c9dc4",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst body = item.json?.body ?? {};\nconst chatInput = body.chatInput ?? body.message ?? body.text ?? \"\";\nreturn [{ json: { ...item.json, chatInput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "id": "0d954b43-b78e-4a6e-88df-9acb0e7ea7d9",
      "name": "Format Input"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d65823ce-5f28-4a9c-b8a5-7d086e2b2e18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "8c647d29-b47f-4e9d-adc7-ecdffbb5f8b3",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  const output =\n    item.json.output ??\n    item.json.response ??\n    item.json.text ??\n    item.json.result?.content ??\n    item.json.result ??\n    \"No answer generated.\";\n  return { json: { answer: String(output) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "ea120aa9-d845-48db-9e69-23c300d3b178",
      "name": "Format Output"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.answer }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "36af9534-3da3-4896-817d-9ec102b55a99",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
